@import "../../../variables.scss";

.nass__account__page_user__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
  width: 80% !important;
  height: fit-content;
  margin-top: 0 !important;
  .user__body__section {
    margin: unset;
  }
  .user__body__personal-informations {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 20px;
    height: fit-content;
    #top-segment {
      width: 100%;
      display: flex;
      #contact-informations {
        align-self: stretch;
        margin: unset !important;
        width: 100% !important;
      }
    }
    .user__body__section {
      align-self: stretch;
      margin: unset !important;
    }
  }
}

.user__details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  .global__inputs {
    width: 100%;
    .inputs-container {
      width: 100%;
      &.row-button {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: end;
        button {
          align-self: stretch;
          height: 100%;
        }
      }
    }
  }
  .location__informations,
  .address__informations {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.user__body__details__content {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 50px;
  width: 100%;
  .user__image__upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    * {
      transition: all 0.3s ease;
    }
    &:hover {
      #changeProfilePictureButton {
        opacity: 1;
      }
      img,
      .image__placeholder {
        opacity: 0.5;
      }
    }
    #changeProfilePictureButton {
      position: absolute;
      max-width: 90%;
      width: fit-content;
      height: fit-content;
      padding: 10px;
      border-radius: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      background-color: $_2k25-background-hue-darker !important;
      display: flex;
      flex-direction: column;
      gap: 5px;
      transform: scale(1.3);
      opacity: 0;
    }
    img,
    .image__placeholder {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      background-color: $_2k25-background-hue-darker-2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      color: $da-secondary-hue-lighter-2;
    }
    .secondary-button {
      width: 100%;
    }
  }
}
