@import "../../../variables.scss";

:root {
  --nass-service-creation-footer-height: 100px;
  --nass-service-creation-header-height-min: 50px;
}

.services__creation__page {
  align-items: center;
  justify-content: center;

  .services__section__header {
    border-bottom: 2px solid $_2k25-background-hue-50-transparent;
    padding-bottom: 10px;
  }
}

@keyframes ServiceCreationComponentAppears {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.services__creation__section {
  max-width: 75% !important;
  width: 100% !important;
  animation: ServiceCreationComponentAppears 0.5s ease-in-out;

  margin-top: 0px !important;
  margin-bottom: var(--nass-service-creation-footer-height) !important;
}
.services__creation__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;

  .nass__services__creation__footer {
    &.footer--next-inactive {
      bottom: calc(-1 * var(--nass-service-creation-footer-height) + 35px);
    }

    height: var(--nass-service-creation-footer-height);

    .footer__header {
      display: flex;
      flex-direction: row;
      gap: 10px;

      button {
        align-self: stretch;
        height: 100%;
      }
    }

    transition: 0.3s;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    padding: 20px 30px;
    background-color: $_2k25-background-hue-darker-transparent;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid $_2k25-background-hue-50-transparent;
    z-index: 10;
    left: $nass__header-width;
    .buttons-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
    }
  }
}

.services__creation__form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .image__upload__container {
    min-width: 150px;
    min-height: 150px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.banner {
      width: 100% !important;
      max-width: 700px;
      height: 150px;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    border: 2px solid $_2k25-background-hue-40;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;

    .image__upload__placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: absolute;

      span {
        text-align: center;
        width: 75%;
      }

      svg {
        width: 16px;
        height: 16px;
      }

      &.with-image {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        backdrop-filter: blur(5px);
        flex-direction: row;
        font-size: 13px;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        bottom: 5px;
        left: 5px;
        max-width: calc(100% - 30px);

        svg {
          width: 16px;
          height: 16px;
        }

        span {
          width: auto;
          max-width: calc(100% - 16px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.services__creation__header__step {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: start;

  border: 2px solid $_2k25-background-hue-50-transparent;
  padding: 10px 15px;
  border-radius: 8px;
  height: calc(var(--nass-service-creation-header-height-min) - 20px);

  button {
    padding-right: 0;
    padding-left: 0;
  }
}

.services__creation__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
  user-select: none;

  h3 {
    margin: 0 0 0 0;
    color: $da-secondary-hue-lighter-2;
  }

  p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
  }
}

.review__container {
  padding: 10px;
  display: flex;
  width: calc(100% - 40px);
  flex-direction: column;
  background-color: $_2k25-background-hue-50-transparent;
  border: 1px solid $_2k25-background-hue-50;
  border-radius: 10px;
  .service__banner {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .service__header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    .service__profile__image {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .service__informations {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        margin: 0;
        color: $da-secondary-hue-lighter-2;
      }

      p {
        margin: 0;
        font-size: 14px;
        opacity: 0.8;
      }
    }
  }
}

/* Moving Backgrounds for Plans */
@keyframes MovingBackground {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.plan__card__bc {
  width: 100%;
  background-size: 200% 200%;
  animation: MovingBackground 5s linear infinite;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 8px;
}

@keyframes SelectedAppears {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.plans__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .plans__content {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 20px;
    padding-bottom: 10px;
    justify-content: space-between;

    .plan__card {
      border-radius: 10px;
      width: 100%;
      height: fit-content;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      cursor: pointer;
      transition: 0.3s;
      position: relative;
      padding: 20px 0;

      &.selected {
        box-shadow: 0 4px 20px rgba(150, 150, 150, 0.2);
      }

      .selected--info {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $_2k25-background-hue-darker-2;
        border: 1px solid $_2k25-background-hue-50;

        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 15px;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 3;
        transform: translateY(-20px);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        &.visible {
          opacity: 1;
          animation: SelectedAppears 0.3s forwards;
        }
      }

      &.hue-120 {
        background: linear-gradient(
          45deg,
          rgb(247, 101, 101),
          rgb(107, 107, 238)
        );
        .card__header__text {
          * {
            color: rgb(107, 107, 238) !important;
          }
          border-color: rgb(107, 107, 238) !important;
        }
      }
      &.hue-240 {
        background: linear-gradient(
          45deg,
          rgb(253, 195, 88),
          rgb(224, 101, 224)
        );
        .card__header__text {
          * {
            color: rgb(224, 101, 224) !important;
          }
          border-color: rgb(224, 101, 224) !important;
        }
      }
      &.hue-300 {
        background: linear-gradient(
          45deg,
          rgb(240, 240, 117),
          rgb(102, 243, 102)
        );
        .card__header__text {
          * {
            color: rgb(102, 243, 102) !important;
          }
          border-color: rgb(102, 243, 102) !important;
        }
      }
      .plan__body {
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        height: 100%;

        .plan__features,
        .plan__card__header {
          background-color: $_2k25-background-hue-darker-2;
          border-radius: 8px;
          width: calc(90% - 30px);
          padding: 15px;
        }
      }

      &:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      }

      .plan__card__header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .plan__card__header__title {
          height: fit-content;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .card__header__title__head {
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            p {
              text-align: center;
              font-size: 15px;
              font-weight: bold;
              opacity: 0.8;
            }

            .card__header__text {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;
              width: calc(100%);
              display: flex;
              flex-direction: row;
              gap: 10px;
              justify-content: space-between;
              border-radius: 0;
              padding-bottom: 5px;
            }

            .plan__specs {
              flex-direction: column;
              display: flex;
              gap: 10px;

              .plan__spec {
                font-size: 14px;
                font-weight: 500;
              }
            }
          }

          h4,
          p {
            margin: 0;
          }

          h4 {
            font-size: 20px;
            color: $da-secondary-hue-lighter-2;
          }

          p {
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }

      .plan__features {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 100%;
        padding: 0;
        margin: 0;

        li.plan__features__title {
          font-size: 16px;
          margin-bottom: 10px;
          list-style: none;
          padding: 0;
          margin: 0;
          opacity: 0.5;
        }

        li:not(.plan__features__title) {
          /* Remove default list styling */
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px 5px;
          background-color: $_2k25-background-hue-50-transparent;
          border-radius: 5px;
          border: 1px solid $_2k25-background-hue-50;
          span {
            height: 100%;
            margin-top: 1px;
          }

          svg {
            width: 16px;
            height: 16px;
            padding: 5px;
            border-radius: 5px;
            background-color: $_2k25-background-hue-50;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

.service__manage__content {
  flex-direction: column !important;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .plans__content {
    flex-direction: column !important;
    .plan__card {
      width: calc(100% - 40px) !important;
      .plan__features {
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: center;
        gap: 10px !important;
        li {
          width: fit-content !important;
        }
      }
    }
  }

  .service__manage__content {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    .first__row {
      width: 100% !important;
      flex-direction: column-reverse !important;

      .service__actions {
        flex-direction: row !important;
        justify-content: center !important;
        gap: 15px !important;
        flex-wrap: nowrap !important;
        .service__actions__field {
          width: calc(100% - 30px) !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .services__creation__header__step {
    flex-direction: column;
    align-items: start;

    svg {
      display: none;
    }
  }

  .services__creation__disclaimer__content {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }

  .form {
    flex-direction: column !important;
  }

  .parent__of__section {
    width: 100% !important;
    max-width: unset !important;
    .second__management__content {
      width: calc(100%) !important;
      flex-direction: row !important;
    }
  }
  .service__actions__field,
  .service__plans {
    min-width: calc(35% - 20px) !important;
  }
}

@media screen and (max-width: 1400px) {
  .manage__service__body {
    width: calc(100% - 20px) !important;
    .services__section__content {
      height: fit-content !important;
    }
    .service__actions {
      display: flex !important;
      flex-direction: column !important;
      gap: 15px !important;
    }
  }
  .service__manage__content {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    .first__row {
      width: 100% !important;
      flex-direction: column-reverse !important;

      .service__actions {
        flex-direction: column !important;
        justify-content: center !important;
        gap: 15px !important;
        flex-wrap: nowrap !important;
        .service__actions__field {
          width: calc(100% - 60px) !important;
        }
      }
    }
  }

  .second__management__content {
    max-width: unset !important;
  }
}
