@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@keyframes GlobalHeaderAppears {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.global__home__header {
  width: calc(100% - 200px);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  background-color: $_2k25-background-hue-darker-transparent;
  backdrop-filter: blur(10px);
  z-index: 10;
  animation: GlobalHeaderAppears 1s ease forwards;

  gap: 50px;

  .button-display--header--phone {
    display: none;
  }

  .buttons-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .header__actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    .buttons__container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .header__navigation {
    align-items: center;
    justify-content: start;
    display: flex;
    gap: 20px;
    button {
      font-size: 15px;
    }
  }

  .header__navigation,
  .header__actions {
    max-width: 30%;
    min-width: 30%;
  }

  .header__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    img {
      max-height: 60px;
      max-width: fit-content;
      object-fit: contain;
    }
  }
}

.naflows__logo__separator {
  width: 60%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
  .nass__home__background {
    height: 100%;
    opacity: 0.1;
    user-select: none;
    pointer-events: none;
  }
}

.head__global__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  width: 100%;

  .title__headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 50%;

    h3 {
      font-family: "Inter", sans-serif !important;
      margin: 0 auto;
      font-size: 50px;
      text-align: center;
    }
    h5 {
      font-family: "Inter", sans-serif !important;
      margin: 0 auto;
      font-size: 15px;
      opacity: 0.8;
      text-align: center;
      font-weight: normal;

      .nass__author {
        color: $da-secondary-hue-lighter-2;
        font-weight: bold;
      }
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0) translate3d(0);
  }
}

  .highlight {
    display: inline-block;
    background: linear-gradient(
      270deg,
      $da-secondary-hue-lighter-2,
      $da-main-hue-lighter,
      $da-secondary-hue-lighter-2,
      $da-main-hue-lighter
    );
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
    font-weight: bold;
  }


.nass_home__activity,
.nass_welcome__informations,
.nass__connect {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
  width: 100%;
  height: fit-content !important;

  .nass_homepage__box {
    align-self: stretch !important;
    height: calc(100% - 50px) !important;
    flex: 1;
    width: calc(100% - 40px) !important;

    .nass_homepage__buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    .nass_home__box__description {
      margin: 0;
      line-height: 1.4rem;
    }
  }

  .nass_service__informations {
    max-width: 350px !important;
  }

  .nass_discord__box {
    max-width: 250px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nass__connect {
    max-width: 300px !important;
    flex-direction: column;
    justify-content: space-between;
  }
}

.nass__home__page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  .nass__home__head {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .nass__home__logos {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      font-weight: bold;

      .nass__author {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }

      .nass__home__logo {
        height: 150px;

        &.naf-logo {
          height: 50px;
        }
      }
    }
  }
}

.nass__welcome__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nass_homepage__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 75%;
}

// Pulse animation for active state
@keyframes ActivePulse {
  0% {
    box-shadow: 0 0 0 0 rgba($da-confirm-hue, 0.7);
  }

  50% {
    box-shadow: 0 0 0 8px rgba($da-confirm-hue, 0.2);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($da-confirm-hue, 0);
  }
}

@keyframes InactivePulse {
  0% {
    box-shadow: 0 0 0 0 rgba($da-error-hue, 0.7);
  }

  50% {
    box-shadow: 0 0 0 8px rgba($da-error-hue, 0.2);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($da-error-hue, 0);
  }
}

.nass_advantages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 100%;
  align-items: center;

  .nass_advantage {
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    padding: 15px;
    gap: 75px;
    position: relative;
    overflow: hidden;
    height: 100%;

    .nass_advantage__image {
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        transition: 0.3s;
        border-radius: 12px;
      }
    }

    &:hover {
      .nass_advantage__body {
        opacity: 1;
        z-index: 6;
        left: 20px;
      }

      img {
        transform: scale(1.05);
      }
    }

    .nass_advantage__body {
      width: 25%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: absolute;
      background-color: $_2k25-background-hue-darker-transparent;
      backdrop-filter: blur(10px);
      padding: 15px 20px;
      border-radius: 12px;
      bottom: 0;
      top: 0;
      left: -25%;
      opacity: 0;
      margin: auto;

      transition: 0.3s;
      z-index: 6;
      max-height: calc(100% - 20px - 30px - 15px);
      height: fit-content;

      justify-content: space-between;

      .nass_advantage__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        gap: 30px;

        .content__box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .content__item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .content__title {
              font-size: 1.1rem;
              font-weight: bold;
              margin: 0;
              color: $da-secondary-hue-lighter-2;
            }

            .content__description {
              font-size: 0.9rem;
              opacity: 0.8;
              margin: 0;
            }
          }
        }
      }

      .nass_advantage__title {
        display: flex;
        flex-direction: row-reverse;
        border-radius: 12px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;
        font-weight: bold;

        span {
          color: $da-secondary-hue-lighter;
        }

        svg {
          width: 30px;
          height: 30px;
          fill: $da-secondary-hue-lighter;
        }
      }

      .nass_advantage__description {
        b {
          color: $da-main-hue-lighter;
        }
      }
    }
  }
}

.nass_homepage__box {
  #colorful {
    color: $da-secondary-hue-lighter-2 !important;
  }

  padding: 20px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  width: fit-content;
  display: flex;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid transparent;
  backdrop-filter: blur(10px);
  height: fit-content;
  width: calc(100% - 40px);
  transition: 0.3s;
  flex-direction: column;
  gap: 20px;

  .nass_service__info__header,
  .nass_homepage__box__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;

    .nass_service__info__item__title,
    .nass_home__box__header__subtitle {
      display: flex;
      flex-direction: column;

      .nass_service__info__item__title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $da-secondary-hue-lighter !important;
      }

      .nass_service__info__item__title__subtitle {
        font-size: 0.8rem;
        opacity: 0.8;
      }
    }

    .nass_service__info__item__value {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 10px 15px;
      border-radius: 8px;

      span {
        font-weight: 600;
        font-size: 1rem;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.nass_mailing__list {
  width: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .nass_service__info__item__title {
    font-size: 12px;
    opacity: 0.8;
  }

  .nass_homepage__box__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    height: 100%;

    .mailing__input__container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;
      align-items: center;
      height: 100%;

      .inputs-container {
        flex: 1;
        width: 100% !important;
        margin: 0;

        .global__input__content {
          width: 100% !important;
        }
      }
    }
  }
}

.nass_service__informations {
  width: fit-content;
  .nass_service__info__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    .nass_service__info__header {
      width: fit-content;
      .nass_service__info__item__value {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  #version__value {
    font-size: 0.7rem;
    opacity: 0.7;
    font-weight: normal;
    text-align: center;
  }

  // Active state
  &.nass_service__info__item__value--active {
    .nass_service__info__item__value {
      animation: ActivePulse 2s ease-in-out infinite;

      background-color: rgba($da-confirm-hue, 0.1);
      border: 1px solid $da-confirm-hue;
      color: $da-confirm-hue;

      svg * {
        fill: $da-confirm-hue;
      }
    }
  }

  // Inactive state
  &.nass_service__info__item__value--inactive {
    .nass_service__info__item__value {
      animation: InactivePulse 2s ease-in-out infinite;

      background-color: rgba($da-error-hue, 0.1);
      border: 1px solid $da-error-hue;
      color: $da-error-hue;

      svg * {
        fill: $da-error-hue;
      }
    }
  }
}

.service__info__display {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .service__info__display__expander {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    user-select: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .nass_service__system__description {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;

    .nass_service__system__desc__item {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      justify-content: space-between;

      h5 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        opacity: 0.8;
      }

      span {
        width: fit-content;
        white-space: wrap;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .header__actions,
  .header__navigation {
    max-width: 40% !important;
    min-width: 40% !important;
  }
  .header__head {
    width: 20% !important;
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .head__global__title {
    width: 90% !important;
    .title__headers {
      max-width: 100% !important;

      h3 {
        font-size: 32px !important;
      }
    }
  }
  .naflows__logo__separator {
    width: 90% !important;
    img {
      width: 100% !important;
      height: auto !important;
    }
  }

  .menu--active {
    overflow: hidden;
    max-height: 100vh;
  }

  .global__home__header {
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 20px;
    width: calc(100% - 40px);
    .button-display--header--phone {
      display: flex;
    }

    .header__navigation,
    .header__actions {
      display: none;
    }

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      height: calc(100vh - 20px);
      width: calc(100vw - 40px);
      background-color: $_2k25-background-hue-darker-transparent;
      backdrop-filter: blur(10px);
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 20px;

      .header__head,
      .header__actions,
      .header__navigation {
        min-width: calc(100vw - 40px) !important;
        max-width: calc(100vw - 40px) !important;
      }

      .header__head {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          height: 40px !important;
          width: auto !important;
        }
      }

      .header__actions {
        order: 2;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        justify-content: space-between;
        align-items: center;
        display: flex;
        margin-top: 30px;
      }

      .header__navigation {
        order: 3;
        flex-direction: column;
        gap: 5px;

        display: flex;
        align-items: start;
        button {
          background-color: $_2k25-background-hue-50-transparent;

          width: 100%;
          text-align: left;
          padding: 10px 15px;
          border: 2px solid $_2k25-background-hue-40;
          border-radius: 10px;
          transition: background-color 0.3s ease;
          /* Disable blue box on click */
        }
      }
    }
    .header__head {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        height: 40px;
      }
    }

    .buttons-content {
      display: none;
    }

    .header__navigation {
      gap: 5px;
      flex-wrap: wrap;
    }
  }

  .nass_home__activity,
  .nass_welcome__informations,
  .nass__connect {
    flex-direction: column !important;
    align-items: center !important;
    gap: 30px !important;
    align-self: unset !important;

    height: fit-content !important;

    .nass_homepage__box {
      width: calc(100% - 45px) !important;
      overflow: unset !important;
      height: fit-content !important;
      max-width: unset !important;

      .nass_home__box__description {
        height: fit-content !important;
      }
    }
  }

  .nass_home__activity {
    flex-direction: column-reverse !important;
  }

  .nass_service__info__item {
    .nass_service__info__header {
      gap: 10px !important;
      align-items: start !important;
      .nass_service__info__item__value {
        svg {
          display: none;
        }
      }
    }
  }

  .nass_homepage__content {
    width: calc(var(--nass-page-width) * 0.9) !important;
    .nass_advantages {
      display: flex;

      .nass_advantage {
        flex-direction: column-reverse !important;
        gap: 20px !important;
        height: fit-content !important;
        .nass_advantage__body {
          position: relative;
          left: 0 !important;
          opacity: 1 !important;
          max-width: 100% !important;
          margin: unset !important;
          width: calc(100% - 0px) !important;
          padding: 10px 5px !important;
        }
      }
    }
  }

  .nass__home__head {
    width: calc(var(--nass-page-width) * 0.9) !important;
    gap: 30px !important;

    .nass__home__logos {
      width: 100%;
      height: fit-content;

      .nass__home__logo {
        height: 100px !important;
        margin: 0 auto;
        width: auto;

        &.naf-logo {
          height: 40px !important;
        }
      }
    }
  }

  .mailing__input__container {
    flex-direction: column !important;
    .nass_mailing__list__button_container {
      width: 100% !important;
    }
  }
}
