@import "../../../variables.scss";

.service__alerts__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alerts__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: center;

  .service__alert {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    gap: 15px;
    background-color: $_2k25-background-hue-darker-2-transparent;
    border: 1px solid $_2k25-background-hue-50-transparent;
    padding: 15px;
    border-radius: 10px;

    &.service__alert--error {
      border-color: $da-error-hue;
      background-color: $da-error-hue-darker;

      p {
        color: $da-error-hue-darker;
      }

      svg {
        color: $da-error-hue;
      }

      strong {
        color: $da-error-hue;
      }
    }

    &.service__alert--info {
      background-color: $da-info-hue-transparent;

      p {
        color: $da-info-hue-darker;
      }

      svg {
        color: $da-info-hue;
      }

      strong {
        color: $da-info-hue;
      }


    }

    &.service__alert--warning {
      background-color: $da-warning-hue-transparent;

      p {
        color: $da-warning-hue-transparent;
      }

      svg {
        color: $da-warning-hue;
      }

      strong {
        color: $da-warning-hue;
      }

      button:hover {
        background-color: $da-warning-hue-transparent;
        color: $da-warning-hue;
        border-color: $da-warning-hue-transparent;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      color: $da-secondary-hue;
    }

    p {
      margin: 0;
      color: $_2k25-text;
      font-weight: 500;
    }

    .alert__body {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .instructions {
        font-size: 14px;
        color: $_2k25-darker;
      }

      .alert__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        strong {
          font-size: 16px;
        }

        p {
          font-size: 14px;
          color: $_2k25-darker;
        }

        .separator {
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: $_2k25-background-hue-50-transparent;
        }
      }
    }

    button {
      margin-left: auto;
    }
  }
}

