@import '@/public/root/variables.scss';

.nass__account__page__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $_2k25-background-hue-darker;

  width: calc($nass__header-width - 20px) !important;
  height: calc(100% - 20px);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  transition: 0.3s;
  border: 2px solid transparent;

  .global--loader--page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $_2k25-background-hue-darker;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    .loader--content {
      background-color: $_2k25-background-hue-darker-2;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      width: 30%;
    }
  }

  &.collapsed {
    width: 60px !important;
    border: 2px solid $_2k25-background-hue-50-transparent;
    padding: 10px;
    gap: 15px !important;

    .header__tabs {
      .tabs {
        .header__tab {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          svg:not(.tab__content svg) {
            display: none !important;
          }
          .tab__content {
            display: flex;
            gap: 0 !important;
            align-items: center !important;
            justify-content: center !important;
          }
          .tab-label {
            display: none;
          }
        }
      }
    }

    .header__account {
      flex-direction: column-reverse !important;
      .secondary-button {
        min-width: calc(100%) !important;
        height: fit-content !important;
        svg {
          transform: rotate(180deg);
        }
      }
      .user__header__visual__access {
        align-self: unset;
        height: fit-content !important;
        padding: 5px !important;
        align-self: stretch;
        flex: 1;
        min-width: calc(100% - 10px - 2px) !important;
        border-radius: 10px !important;
        justify-content: center !important;
        .user__header__content {
          width: fit-content !important;
        }
        .user__header__visual__hover {
          button {
            padding: 5px 0px !important;
            span {
              display: none;
            }
          }
        }
        .user__header__informations {
          display: none;
        }
      }
    }

    .legal {
      display: none;
    }
  }

  .header__tabs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    img {
      height: 50px;
      width: auto;
    }

    .tabs {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      width: 100%;
      .header__tab {
        align-items: start !important;
        justify-content: space-between;
        width: calc(100% - 30px) !important;
        .tab__content {
          width: fit-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          justify-content: start;
        }
      }
    }
  }
  .header__footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .legal {
      font-size: 10px;
      opacity: 0.5;
      text-align: start;

      p {
        margin: 0;
        padding: 0;
      }
      .footer__links {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: start;
        p {
          white-space: nowrap;
        }
        a {
          text-decoration: none;
          color: $_2k25-text;
          white-space: nowrap;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .header__account {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: end;
      width: 100%;

      button {
        height: calc(57px) !important;
      }

      .user__header__visual__access {
        .user__header__visual__hover {
          border-radius: 15px;
          display: none;
        }
        &:hover {
          .user__header__visual__hover {
            display: flex;
          }
        }
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 5px 15px 5px 10px;

        cursor: pointer;
        transition: 0.3s;
        border: 2px solid $_2k25-background-hue;
        border-radius: 15px;

        align-self: stretch;
        width: calc(100% - 54px - 2px - 25px - 10px) !important;
        .user__header__content {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: start;
          width: 100%;
        }

        .user__header__informations {
          width: calc(100% - 45px);
        }

        &:hover {
          background-color: $_2k25-background-hue;
        }

        .name,
        .username {
          margin: 0;
          padding: 0;
          white-space: nowrap;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .username {
          font-size: 13px;
          opacity: 0.7;
        }

        .name {
          font-size: 18px;
          font-weight: 600;
        }

        .profile-picture {
          padding: 5px;
          background-color: $_2k25-background-hue;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          min-width: 35px;
          min-height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}