@import "@/public/root/variables.scss";

.nass__account__page__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $_2k25-background-hue-darker;

  width: calc($nass__header-width - 20px) !important;
  height: calc(100% - 20px);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  transition: 0.3s;
  border: 2px solid transparent;

  .global--loader--page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $_2k25-background-hue-darker;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    .loader--content {
      background-color: $_2k25-background-hue-darker-2;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      width: 30%;
    }
  }

  &.collapsed {
    width: 60px !important;
    border: 2px solid $_2k25-background-hue-50-transparent;
    padding: 10px;
    gap: 15px !important;
    #logout-button {
      display: none;
    }
    .header__tabs {
      .tabs {
        .header__tab {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          svg:not(.tab__content svg) {
            display: none !important;
          }
          .tab__content {
            display: flex;
            gap: 0 !important;
            align-items: center !important;
            justify-content: center !important;
          }
          .tab-label {
            display: none;
          }
        }
      }
    }

    .header__account {
      flex-direction: column-reverse !important;
      .secondary-button {
        min-width: calc(100%) !important;
        height: fit-content !important;
        svg {
          transform: rotate(180deg);
        }
      }
      .user__header__visual__access {
        align-self: unset;
        height: fit-content !important;
        padding: 5px !important;
        min-width: calc(100% - 4px - 10px) !important;
        align-self: stretch;
        flex: 1;
        
        border-radius: 10px !important;
        justify-content: center !important;
        .user__header__content {
          width: fit-content !important;
        }
        .user__header__visual__hover {
          button {
            padding: 5px 0px !important;
            span {
              display: none;
            }
          }
        }
        .user__header__informations {
          display: none;
        }
      }
    }

    .legal {
      display: none;
    }
  }
  .header__tabs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    img {
      height: 50px;
      width: auto;
    }

    .tabs {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      width: 100%;
      .header__tab {
        align-items: start !important;
        justify-content: space-between;
        width: calc(100% - 30px) !important;
        .tab__content {
          width: fit-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          justify-content: start;
        }
      }
    }
  }
  .header__footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .legal {
      font-size: 10px;
      opacity: 0.5;
      text-align: start;

      p {
        margin: 0;
        padding: 0;
      }
      .footer__links {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: start;
        p {
          white-space: nowrap;
        }
        a {
          text-decoration: none;
          color: $_2k25-text;
          white-space: nowrap;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .header__account {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .footer__head {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      button {
        height: calc(57px) !important;
      }

      .user__header__visual__access {
        flex:1;
        .user__header__visual__hover {
          border-radius: 15px;
          display: none;
        }
        &:hover {
          .user__header__visual__hover {
            display: flex;
            button {
              min-width: calc(100%) !important;
              align-self: stretch;
            }
          }
        }
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 5px 15px 5px 10px;

        cursor: pointer;
        transition: 0.3s;
        border: 2px solid $_2k25-background-hue;
        border-radius: 10px;

        align-self: stretch;
        width: calc(100% - 54px - 2px - 25px - 10px) !important;
        .user__header__content {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: start;
          width: 100%;
        }

        .user__header__informations {
          width: calc(100% - 45px);
        }

        &:hover {
          background-color: $_2k25-background-hue;
        }

        .name,
        .username {
          margin: 0;
          padding: 0;
          white-space: nowrap;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .username {
          font-size: 13px;
          opacity: 0.7;
        }

        .name {
          font-size: 18px;
          font-weight: 600;
        }

        .profile-picture {
          padding: 5px;
          background-color: $_2k25-background-hue;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          min-width: 35px;
          min-height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.collapsed {
  .services__content {
    width: 100%;
    .services__title{
      display: none;
    }
    .services__list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      .service__item {
        img {
          width: 40px !important;
          height: 40px !important;
          border-radius: 50px !important;
          border: 1px solid $_2k25-background-hue-darker-2-transparent !important;
        }
        &:hover {
          .name__hover {
            display: flex;
          }
        }
        border-radius: 50%;
        position: relative;
        padding: 0;
        width: 40px !important;
        height: 40px !important;
        .name__hover {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 120%;
          transform: translateY(-50%);
          background-color: $_2k25-background-hue-darker-2;
          padding: 5px 15px 5px 10px;
          border: 1px solid $_2k25-background-hue;
          border-radius: 8px;
          white-space: nowrap;
          max-width: 250px;
          width: fit-content;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          /* Not selectable */
          user-select: none;
          display: none;
          .name__content {
            max-width: calc(100% - 20px - 15px);
          }
          .name__content {
            display: flex;
            flex-direction: column;
            gap: 2px;
          }
        }
      }
    }
  }
}

.activity__status {
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
  max-width: 15px;
  max-height: 15px;
  z-index: 6;
  margin-left: auto;
  &.inactive {
    background-color: $da-error-hue-darker;
    border: 1px solid $da-error-hue;
  }
  &.active {
    background-color: $da-secondary-hue-lighter-3;
    backdrop-filter: blur(10px);
    border: 1px solid $da-secondary-hue;
    animation: PulseActive 2s infinite;
  }
}
.services__content{
  padding: 15px 0;
  border-top: 2px solid $_2k25-background-hue;
  border-bottom: 2px solid $_2k25-background-hue;
}
.services__content {
  width: 100%;
  .services__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .service__item {
      cursor: pointer;
      border-radius: 8px;

      transition: 0.3s;
      padding: 5px 15px 5px 10px;
      border: 1px solid $_2k25-background-hue;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      img {
        min-width: 40px !important;
        min-height: 40px !important;
        max-width: 40px !important;
        max-height: 40px !important;
        border-radius: 50px !important;
        border: 1px solid $_2k25-background-hue-darker-2-transparent !important;
      }
      position: relative;
      .name__hover {
        border-radius: 8px;
        white-space: nowrap;
        /* Not selectable */
        user-select: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2px;
        width: 100%;
        .name__content {
          display: flex;
          flex-direction: column;
          gap: 2px;
        }
        .service__name {
          font-size: 14px;
          font-weight: 600;
          color: $_2k25-text;
        }
        .dns__text {
          font-size: 12px;
          opacity: 0.7;
        }
      }
      &:hover {
        background-color: $_2k25-background-hue-darker-2-transparent;
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .nass__page {
    width: calc(100% - 50px) !important;
    padding-left: 0 !important;
    padding-top: 100px !important;
    margin-left: 0 !important;
  }

  .nass__account__page__header,
  .nass__account__page__header.collapsed {
    flex-direction: row;
    width: calc(100vw - 40px) !important;
    height: auto;
    padding: 10px 20px;
    justify-content: space-between;
    .services__content {
      display: none !important;
    }
    .header__tabs {
      display: flex;
      flex-direction: row;
      gap: 30px !important;
      .tabs {
        flex-direction: row;
        gap: 20px;
        width: fit-content;
        justify-content: center;
        gap: 5px !important;
        .header__tab {
          .tab__content {
            gap: 5px !important;
          }
          .tab__content .tab-label {
            display: flex !important;
          }
          width: fit-content !important;
        }
      }
    }
    .header__footer__content {
      margin-left: auto;
      flex-direction: row;
      width: fit-content;
      justify-content: space-between;
      .header__account {
        width: fit-content;

        .user__header__visual__access {
          flex-direction: row !important;
          align-items: center !important;
          padding: 5px 10px !important;
          width: fit-content !important;
          max-width: calc(100% - 20px - 4px) !important;
          min-width: unset !important;
          border-radius: 10px !important;
          padding: 0 !important;
          border: none !important;
          .user__header__content {
            display: none;
          }
          .user__header__visual__hover {
            display: flex !important;
            button {
              display: flex !important;
              padding: 10px 15px !important;
              span {
                display: inline !important;
              }
            }
          }
        }

        .secondary-button {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .nass__account__page__header.collapsed {
    width: calc(100vw - 20px) !important;
    height: auto;
    flex-direction: row;
    .header__footer__content {
      flex-direction: row;
      justify-content: space-between;
      display: none;
      .header__account {
        width: fit-content;
        button {
          display: none;
        }
      }
    }
    .header__tabs {
      display: flex;
      flex-direction: row;
      img {
        display: none;
      }
      .tabs {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        gap: 5px !important;
        .header__tab {
          width: fit-content !important;
        }
      }
    }
  }
}
