@import "../../variables.scss";

body {
  overflow-y: auto;
}

:root {
  --nass-page-width: calc(100% - $nass__header_width - 20px);
  --header-height: 50px;
}

.user__body__section:not(.service__description__section) {
  background-color: $_2k25-background-hue-darker;
  padding: 20px 30px;
  border-radius: 10px;
  width: calc(100% - 60px) !important;
  margin: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;

  box-shadow: inset 0 1px 2px #44444470, 0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.06);

  .body__section__title {
    text-transform: uppercase;
  }


  &.unauthorized {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid $da-error-hue;
    color: $da-error-hue;
    background-color: $da-error-hue-transparent;
    svg {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }
    .error__global {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-align: center;
      h3 {
        margin: 0;
      }
      span {
        opacity: 0.7;
      }
    }
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: end;
  button {
    align-self: stretch;
    height: 100%;
  }
}

.nass__page {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  justify-content: start;
  display: flex;
  
  width: calc(100% - #{$nass__header_width + 100px}) !important;
  padding-left: $nass__header_width + 20px;
  padding-right: 50px;
  padding-top: 20px;
  min-height: 100vh;
  height: fit-content !important;
  transition: 0.3s;
}
.nass__account__page {
  width: 100% !important;
}
.nass__account__page__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $_2k25-background-hue-darker;

  width: calc($nass__header-width - 20px) !important;
  height: calc(100% - 20px);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  transition: 0.3s;
  border: 2px solid transparent;

  .global--loader--page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $_2k25-background-hue-darker;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    .loader--content {
      background-color: $_2k25-background-hue-darker-2;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      width: 30%;
    }
  }

  &.collapsed {
    width: 60px !important;
    border: 2px solid $_2k25-background-hue-50-transparent;
    padding: 10px;
    gap: 15px !important;

    .header__tabs {
      .tabs {
        .header__tab {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          svg:not(.tab__content svg) {
            display: none !important;
          }
          .tab__content {
            display: flex;
            gap: 0 !important;
            align-items: center !important;
            justify-content: center !important;
          }
          .tab-label {
            display: none;
          }
        }
      }
    }

    .header__account {
      flex-direction: column-reverse !important;
      .secondary-button {
        min-width: calc(100%) !important;
        height: fit-content !important;
        svg {
          transform: rotate(180deg);
        }
      }
      .user__header__visual__access {
        align-self: unset;
        height: fit-content !important;
        padding: 5px !important;
        align-self: stretch;
        flex: 1;
        min-width: calc(100% - 10px - 2px) !important;
        border-radius: 10px !important;
        justify-content: center !important;
        .user__header__content {
          width: fit-content !important;
        }
        .user__header__visual__hover {
          button {
            padding: 5px 0px !important;
            span {
              display: none;
            }
          }
        }
        .user__header__informations {
          display: none;
        }
      }
    }

    .legal {
      display: none;
    }
  }

  .header__tabs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    img {
      height: 50px;
      width: auto;
    }

    .tabs {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      width: 100%;
      .header__tab {
        align-items: start !important;
        justify-content: space-between;
        width: calc(100% - 30px) !important;
        .tab__content {
          width: fit-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          justify-content: start;
        }
      }
    }
  }
  .header__footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .legal {
      font-size: 10px;
      opacity: 0.5;
      text-align: start;

      p {
        margin: 0;
        padding: 0;
      }
      .footer__links {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: start;
        p {
          white-space: nowrap;
        }
        a {
          text-decoration: none;
          color: $_2k25-text;
          white-space: nowrap;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .nass__page {
    width: calc(100% - 50px) !important;
    padding-left: 0 !important;
    padding-top: 100px !important;
    margin-left: 0 !important;
  }

  .nass__account__page__header,
  .nass__account__page__header.collapsed {
    flex-direction: row;
    width: calc(100vw - 40px) !important;
    height: auto;
    padding: 10px 20px;
    justify-content: space-between;
    .header__tabs {
      display: flex;
      flex-direction: row;
      gap: 30px !important;
      .tabs {
        flex-direction: row;
        gap: 20px;
        width: fit-content;
        justify-content: center;
        gap: 5px !important;
        .header__tab {
          .tab__content {
            gap: 5px !important;
          }
          .tab__content .tab-label {
            display: flex !important;
          }
          width: fit-content !important;
        }
      }
    }
    .header__footer__content {
      margin-left: auto;
      flex-direction: row;
      width: fit-content;
      justify-content: space-between;
      .header__account {
        width: fit-content;

        .user__header__visual__access {
          flex-direction: row !important;
          align-items: center !important;
          padding: 5px 10px !important;
          width: fit-content !important;
          max-width: calc(100% - 20px - 4px) !important;
          min-width: unset !important;
          border-radius: 10px !important;
          padding: 0 !important;
          border: none !important;
          .user__header__content {
            display: none;
          }
          .user__header__visual__hover {
            display: flex !important;
            button {
              display: flex !important;
              padding: 10px 15px !important;
              span {
                display: inline !important;
              }
            }
          }
        }

        .secondary-button {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .nass__account__page__header.collapsed {
    width: calc(100vw - 20px) !important;
    height: auto;
    flex-direction: row;
    .header__footer__content {
      flex-direction: row;
      justify-content: space-between;
      display: none;
      .header__account {
        width: fit-content;
        button {
          display: none;
        }
      }
    }
    .header__tabs {
      display: flex;
      flex-direction: row;
      img {
        display: none;
      }
      .tabs {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        gap: 5px !important;
        .header__tab {
          width: fit-content !important;
        }
      }
    }
  }
}
