@import "../variables.scss";



#root {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25vh;
    width: 100%;
}

.nass__app__footer {
    width: calc(100% - 100px );
    background-color: $_2k25-background-hue-darker;
    padding: 50px 50px 30px 50px;
    display: flex;
    flex-direction: row;
    margin-left:auto;
    justify-content: space-between;
    align-items: center;
    .nass__naflows__informations {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            width: 20%;
            height: auto;
        }
    }

    .nass__app__useful__links {
        display: flex;
        flex-direction: row;
        gap: 75px;
        align-items: start;

        .useful__links__section {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h4 {
                font-size: 18px;
                font-weight: 600;
                color: $da-secondary-hue;
                padding: 0;
                margin: 0;
            }

            .links__section__content {
                display: flex;
                flex-direction: column;
                gap: 8px;

                a {
                    text-decoration: none;
                    font-size: 14px;
                    white-space: nowrap;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .nass__header_width {
        flex-direction: column;
        gap: 30px;
        align-items: start;
        padding: 30px 5% 30px 5%;
        width: calc(100% - 10%);

        .nass__naflows__informations {
            img {
                width: 35%;
            }
        }


    }

    .nass__app__footer {
        flex-direction: column;
        gap: 30px;
        align-items: start;
        padding: 30px 5% 30px 5%;
        width: calc(100% - 10%);
        .nass__naflows__informations {
            .naflows__logotype {
                width: 35%;
            }
        }
        .nass__app__useful__links {
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 50px;

        }
    }
}