@import "./variables.scss";

/* Animation */

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.global__alert__component {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  .global__alert__component__content {

    &.success {
      border: 2px solid $da-confirm-hue-darker;
      background-color: $da-confirm-hue-transparent;
      .global___alert__component__header {
        color: $da-confirm-hue;
      }
      button {
        &:hover {
          background-color: $da-confirm-hue-darker;
        }
      }
      input {
        &:hover {
          border-color: $da-confirm-hue-darker !important;
        }
      }
      label {
        display: none;
      }
    }
    &.error {
      border: 2px solid $da-error-hue-darker;
      background-color: $da-error-hue-transparent;
      .global___alert__component__header {
        color: $da-error-hue;
      }
      button {
        &:hover {
          background-color: $da-error-hue-transparent;
          border-color: $da-error-hue-transparent;
          color: white;
        }
      }
      input {
        &:hover {
          border-color: $da-error-hue-darker !important;
        }
      }
      label {
        display: none;
      }
    }


    input {
      background-color: unset !important;
    }



    backdrop-filter: blur(10px);
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.3s forwards;
    background-color: $_2k25-background-hue-darker;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;

    .buttons-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    .global__alert__body {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;

      .global___alert__component__message {
        p {
          margin: 0;
          padding: 0;
        }
      }

      .global___alert__component__header {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        align-items: center;
        position: relative;

        h3,
        p {
          margin: 0;
          padding: 0;
        }



        .alert__header__banner {
          text-transform: uppercase;
          padding: 5px 10px;
          border-radius: 10px;
          border: 1px solid;
          height: fit-content;
          transition: 0.3s;
          cursor: pointer;


          &:hover {
            .error__code__explainer {
              opacity: 1;
              z-index: 10;
              transition: 0.3s;
              top: -100%;
            }
          }


          &.error {
            color: $da-error-hue;
            background-color: $da-error-hue-transparent;
            border-color: $da-error-hue;

            &:hover {
              border-color: $da-error-hue-darker;
            }
          }

          &.success {
            color: $da-confirm-hue;
            background-color: $da-confirm-hue-transparent;
            border-color: $da-confirm-hue;

            &:hover {
              border-color: $da-confirm-hue-darker;
            }
          }
        }
      }
    }

    p {
      font-size: 15px;
    }

    button {
      width: 100%;

    }

    .global___alert__component__message {
      display: flex;
      flex-direction: column;
      gap: 5px;
    .error__code__explainer {
      border-radius: 10px;
      color: $da-error-hue;
      transition: 0.3s;
    }
    }
  }

  &.hidden {
    display: none;

    .global__alert__component__content {
      animation: slideOut 0.3s forwards;
    }
  }
}


@media (max-width: 1200px) {
  .global__alert__component {
    .global__alert__component__content {
      width: calc(80% - 40px);

      .global___alert__component__header {
        flex-direction: column !important;
        align-items: start !important;
      }
    }
  }
}