@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import '@/public/root/components/loader.scss';
  
body {
  font-family: "Nunito", sans-serif;
  background-color: $_2k25-background-hue;
  color: $_2k25-text;
  display: flex;
  justify-content: center;
  align-items: start;

  h1 {
    text-transform: uppercase;
    font-size: 20px;
  }

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100% !important;
}

.global__nass__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw !important;

  .disclaimers__container {
    display: flex;
    width: 100% !important;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    .global__nass__disclaimer {
      min-width: calc(100% - 2px);
    }
  }
}

.nass__page__loader {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: $_2k25-background-hue-darker;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 20px;

  &.responsive {
    position:absolute !important;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin:unset !important;
    top:-5px !important;
    left:-5px !important;
    bottom: unset !important;
    right:  unset !important;
    padding: 5px;
    border-radius: 10px;
    gap: 5px;
    backdrop-filter: blur(5px);
    background-color: $_2k25-background-hue-darker-2-transparent;
    img {
      display: none;
    }
    .content {
      p {
        display: none;
      }
      h3 {
        font-size: 12px;
      }
    }
    .naflows__button__loader {
      max-width: 80%;
    }

  }
  img {
    width:50px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    p {
      font-size: 13px;
      opacity: 0.8;
      margin: 0;
    }
    h3 {
      margin: 0;
      color: $da-secondary-hue-lighter-2;
    }
  }
  .naflows__button__loader {
    max-width: 30%;
  }
}

.global__nass__disclaimer {
  padding: 20px;
  border: 1px solid $da-secondary-hue;
  background-color: $da-secondary-hue-transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 2px - 40px);


  backdrop-filter: blur(5px);

  &.max-width {
    max-width: 600px !important;
  }

  .global__disclaimer__header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin: 0;
      color: $da-secondary-hue;
      font-weight: 600;
      font-size: 18px;
    }
  }

  p,ul {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
  }

  .global__disclaimer__hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    button {
      color: $da-secondary-hue-lighter-2;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

input {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: $_2k25-background-hue-darker;
  border: 1px solid $_2k25-background-hue-40;
  outline: none;
  color: $Color;
  outline-color: $_2k25-background-hue-50 !important;
  outline-width: 1px !important;
  position: relative;
  width: fit-content;
  max-width: calc(100% - 40px) ;

  /* Remove the input number type arrows */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:autofill {
    box-shadow: 0 0 0px 1000px $_2k25-background-hue-darker inset;
    -webkit-text-fill-color: $Color !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &::placeholder {
    color: $_2k25-background-hue-10;
  }

  &:focus {
    outline-color: $da-secondary-hue-lighter-2 !important;
    outline-width: 1px !important;
    outline-style: solid !important;
  }
}
textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
  height: fit-content;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background-color: $_2k25-background-hue-darker;
  border: 1px solid $_2k25-background-hue-40 !important;
  color: $Color;
  outline: none;
  outline: 1px solid $_2k25-background-hue-50 !important;
  position: relative;
  max-width: calc(100% - 40px - 2px);
  border-radius: 10px;
  padding: 10px 20px;
  resize: none;
  position: relative;
  margin: unset !important;

  &:focus {
    outline-color: $da-secondary-hue-lighter-2 !important;
    outline-width: 1px !important;
    outline-style: solid !important;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.global__input {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  gap: 10px;
  margin: 10px 0;

  .global__input__content {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;

    &:hover,
    &:focus-within,
    &:focus,
    &.filled {
      label {
        top: -10px;
        left: 10px;
        font-size: 13px;
        margin: unset;

        &.textarea-label {
          top: -10px !important;
        }
      }
    }

    label {
      color: $da-secondary-hue-lighter-2;
    }

    .character-count {
      position: absolute;
      bottom: 5px;
      right: 10px;
      font-size: 12px;
      color: $_2k25-background-hue-10;
    }

    .error-message {
      color: $da-error-hue;
      margin: 0;
      padding: 0;
      font-size: 12px;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(5px);
    }

    .identifier-input {
      display: flex;
      gap: 5px;

      input {
        width: 15px;
      }
    }

    label {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 10px;
      transition: all 0.2s;
      z-index: 5;
      background-color: $_2k25-background-hue-darker;
      padding: 2px 10px;
      width: fit-content;
      border-radius: 10px;
      height: fit-content;
      color: $da-secondary-hue-lighter-2;

      &.textarea-label {
        top: 5px !important;
        margin: unset !important;
      }
    }
  }

  .about-mode {
    margin: 0;
    opacity: 0.7;
    font-size: 13px;
  }

  .copy-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: unset !important;
    height: fit-content !important;
    padding: 5px 10px;
    font-size: 13px;
    border: 2px solid $_2k25-background-hue-50-transparent;
    border-radius: 10px;
    transition: all 0.2s;
    min-width: 100px;

    &:hover {
      background-color: $_2k25-background-hue-50-transparent;
      border-color: $_2k25-background-hue-50;
      color : unset !important;
    }
  }
}

.nass_switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  cursor: pointer;

  * {
    user-select: none;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.header-full-space {
    width: 100%;
    .nass_switch__label {
      width: 100% !important;
    }
    h5 {
      justify-content: space-between;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .nass_switch__container {
    width: 60px;
    height: calc(21px + 4px);
    border-radius: 15px;
    background-color: $_2k25-background-hue-40;
    position: relative;
    transition: background-color 0.3s;

    &.nass_switch__container--checked {
      .nass_switch__toggle {
        transform: translateX(calc(100% + 4px));
        background-color: $da-secondary-hue;
      }
    }

    .nass_switch__toggle {
      width: 21px;
      height: 21px;
      border-radius: 50%;
      left: 2px;

      background-color: $_2k25-background-hue-darker;
      position: absolute;
      top: 2px;
      transition: all 0.3s;
    }
  }

  .nass_switch__label__mandatory {
    color: $da-error-hue;
    margin-left: 5px;
    background-color: $_2k25-background-hue-darker;
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid $_2k25-background-hue-40;
    font-size: 12px;

    &.nass_switch__label__mandatory--inactive {
      border-color: $da-error-hue;
      background-color: $da-error-hue-transparent;
    }
  }

  .nass_switch__label {
    width: 100%;

    h5,
    p {
      margin: 0;
      padding: 0;
    }

    h5 {
      font-size: 15px;
      font-weight: 600;
      color: $da-secondary-hue-lighter-2;
      height: fit-content;
      min-height: 25px;

      .nass_switch__label__state {
        font-size: 12px;
        margin-left: 10px;
        font-weight: 400;
        opacity: 0.7;
        transition: all 0.3s;

        background-color: $_2k25-background-hue-darker;
        padding: 2px 10px;
        border-radius: 5px;
        border: 1px solid $_2k25-background-hue-40;
        &.nass_switch__label__state--on {
          border-color: $da-secondary-hue-lighter-2;
          background-color: $da-secondary-hue-transparent;
          color: $da-secondary-hue-lighter-2;
        }
        &.nass_switch__label__state--off {
          background-color: $_2k25-background-hue-darker;
          border-color: $_2k25-background-hue-40;
          color: $_2k25-background-hue-10;
        }
      }
    }

    p {
      font-size: 13px;
      opacity: 0.7;
    }
  }
}

.form__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  .form__container {
    background-color: $_2k25-background-hue-darker;
    padding: 30px 50px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .form__header {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: start;
      h3,
      p {
        margin: 0;
        padding: 0;
      }
      h3 {
        font-size: 20px;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        opacity: 0.7;
      }
    }

    .form__content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .form__section {
        display: flex;
        flex-direction: column;
        .form__section__header {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 10px;
          h4 {
            margin: 0;
            padding: 0;
            font-size: 18px;
            color: $da-secondary-hue-lighter-2;
          }
          p {
            margin: 0;
            padding: 0;
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }
    }

    .form__close {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      svg * {
        fill: $_2k25-text !important;
      }
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  #password-input-container {
    width: 100% !important;
  }

  .images__upload {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &.form__parts__separated {
    gap: 50px;

    .services__creation__form {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }

  .form__section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &.row {
      flex-direction: row;
      gap: 50px;
      align-items: start;
    }
  }

  .form__part {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(100% - 20px);

    .form__part__header {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h4 {
        margin: 0;
        font-size: 18px;
        color: $da-secondary-hue-lighter-2;
      }

      p {
        margin: 0;
        font-size: 14px;
        opacity: 0.8;
      }
    }
  }

  .global__input__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .two-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;

    .inputs-container {
      flex: 1;
      min-width: 150px;
      width: 100% !important;
    }
  }
}

.parent__of__section {
  display: flex;
  gap: 20px;

  .parent__of__section {
    width: auto !important;
  }

  &.row__layout {
    align-items: start;
    flex-direction: row;
    width: 100% !important;
  }

  &.column__layout {
    flex-direction: column;
    height: auto !important;

    .user__body__section {
      height: auto !important;
      width: auto !important;
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid $_2k25-background-hue-50-transparent;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  background: transparent;
  position: relative;
  vertical-align: middle;

  &.bc-color {
    background: $_2k25-background-hue-50-transparent !important;
  }

  &:checked {
    background: $da-secondary-hue-lighter-2;
  }

  &.bc-color:checked {
    background: $_2k25-background-hue-darker !important;
  }

  &:checked::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    background: $da-secondary-hue-lighter-2;
    border-radius: 2px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 2px;
  }
}

.global__terms__and__conditions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  margin-bottom: 10px;
  
  border: 1px solid $_2k25-background-hue-40;
  border-style: solid none solid none;
}

//
//       background-color: $_2k25-background-hue-50-transparent;
//       * {
//         transition: 0.3s;
//       }
//       &:hover {
//         background-color: $da-secondary-hue-transparent;
//         color: $da-secondary-hue-lighter-2;
//         svg {
//           transform: translateX(5px);
//         }
//       }

button,
button * {
  transition: 0.3s;
}

.primary-button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: $_2k25-background-hue-50-transparent;
  border: none;
  cursor: pointer;
  color: $_2k25-text;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  gap: 10px;
  align-items: center;
  text-wrap: nowrap;
  border: 2px solid $_2k25-background-hue-50-transparent;
  position: relative;

  .button__text__hide {
    position: absolute;
    bottom: -30px;
    padding: 2px 5px;
    background-color: $_2k25-background-hue-darker;
    border-radius: 5px;
    border: 2px solid $_2k25-background-hue-50-transparent;
    z-index: 10;
    display: none;
    transition: 0.3s;
  }

  &.enhanced {
    border-color: $da-secondary-hue-transparent !important;
    color: $da-secondary-hue-lighter-2 !important;
    &:hover {
      background-color: $da-secondary-hue-transparent !important;
      color: $da-secondary-hue-lighter-2 !important;
      border-color: $da-secondary-hue !important;
      svg * {
        fill: $da-secondary-hue-lighter-2 !important;
      }
    }
  }
  svg {
    width: 20px;
    height: 20px;
    fill: $_2k25-text;
  }

  &:hover {
    transition: 0.3s;
    background-color: $da-secondary-hue-transparent;
    color: $da-secondary-hue-lighter-2;
    border-color: $da-secondary-hue-transparent;
    svg * {
      fill: $da-secondary-hue-lighter-2;
    }
    .button__text__hide {
      display: block;
      opacity: 1;
      color: white !important;
    }
  }
}

.tertiary-button {
  border-radius: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  color: $da-secondary-hue-lighter-2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  width: fit-content;

  svg,
  svg * {
    width: 20px;
    height: 20px;
    fill: $_2k25-text;
  }

  &.global__link {
    padding: 0;
  }

  &:hover {
    text-decoration: underline;
    svg,
    svg * {
      fill: $_2k25-darker;
    }
  }
}

.secondary-button {
  background-color: transparent;
  border: none;
  color: $_2k25-text;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
  text-wrap: nowrap;
  border: 2px solid $_2k25-background-hue-50-transparent;
  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: $da-secondary-hue-transparent;
    color: $da-secondary-hue-lighter-2;
    border-color: $da-secondary-hue-transparent;
    svg {
      stroke: $da-secondary-hue-lighter-2;
    }
  }
}

.visibility-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    fill: $_2k25-text !important;
  }
}

.danger-button {
  background-color: transparent;
  border: none;
  color: $da-error-hue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
  text-wrap: nowrap;
  border: 2px solid $_2k25-background-hue-50-transparent;
  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: $da-error-hue-transparent;
    color: $da-error-hue;
    border-color: $da-error-hue-transparent;
    svg {
      stroke: $da-error-hue;
    }
  }
}

.primary-button.inactive,
.secondary-button.inactive,
.tertiary-button.inactive {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
  cursor: not-allowed !important;
}

/* ------------------------------- */
.row-20 {
  gap: 20px;
}
.row-5 {
  gap: 5px;
}
.row-5, .row-20 {
  align-items: center !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
.width-fit {
  width: fit-content !important;
}
.row-no-wrap {
  flex-wrap: nowrap;
}

.col-20 {
  gap: 20px;
}
.col-5 {
  gap: 5px !important;
}
.col-5, .col-20 {
  align-items: center;
  display: flex;
  flex-direction: column !important;
}

.width-35 {
  min-width: 35vw;
  max-width: 35vw;
}

.width-100 {
  min-width: 100vw;
  max-width: 100vw;
}

.width-100-auto {
  width: 100% !important;
}
.width-flex {
  flex: 1 !important;
}

.height-100 {
  height: 100% !important;
}

.text-size-20 {
  font-size: 20px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  user-select: none;
  cursor: pointer !important;
  width: fit-content;

  input[type="checkbox"] {
    min-width: 15px !important;
    max-width: 15px !important;
    max-height: 15px !important;
    min-height: 15px !important;
    padding: 0 !important;
    border-radius: 5px !important;
  }

  span {
    font-size: 14px;
  }
}

a {
  color: $_2k25-text;
  text-decoration: underline;

  &:hover {
    color: $_2k25-darker;
  }
}


.not-found-page {
  img {
    max-width: 300px;
    height: auto;
    object-fit: cover;
  }
  h1 {
    font-size: 36px;
    margin: 0;
  }
  p {
    font-size: 18px;
    opacity: 0.8;
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 50px;
  .not__found-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}


@media screen and (max-width: 1200px) {
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  :root {
    max-width: 100vw !important;
    width: 100vw !important;
  }

  .nass_switch {
    width: 100% !important;
    align-items: start !important;
    /* Disable the blue block on click */
    -webkit-tap-highlight-color: transparent;
  }

  .global__nass__form {
    width: 100% !important;
  }

  .panel {
    height: calc(100% - 40px) !important;

    padding: 20px;
    width: calc(95% - 40px);

    img {
      max-width: 100% !important;
      height: auto !important;
      object-fit: cover !important;
    }

    .form {
      .two-columns {
        flex-direction: row;

        .inputs-container {
          width: 100% !important;
        }

        .global__input {
          margin: 0 !important;
          width: 100% !important;

          .global__input__content {
            width: 100% !important;
          }
        }
      }
    }
  }

  .nass__page__loader {
    width: calc(90% - 40px) !important;
  }
}

@media screen and (max-width: 1200px) {
  .panel {
    max-width: calc(100% - 40px) !important;
    .panel-body {
      .logo {
        max-width: 200px !important;
        height: auto !important;
        object-fit: cover !important;
        .inputs-container {
          gap: 50px !important;
        }
      }
    }
  }
}
