$da-main-hue: #3E4DEDFF;
$da-main-hue-lighter: rgb(93, 95, 255);
$da-main-hue-2: #2530A9FF;

$da-secondary-hue: #28B88DFF;
$da-secondary-hue-lighter: #34D399FF;
$da-secondary-hue-lighter-2: #6EE7B7FF;
$da-secondary-hue-transparent: rgba(40, 184, 141, 0.075);
$da-error-hue: #FF4221FF;
$da-error-hue-transparent: rgba(255, 66, 33, 0.1);
$da-error-hue-darker : #B3240FFF;
$da-error-hue-2: rgb(255, 212, 205);
$da-info-hue: #2196F3FF;
$da-info-hue-transparent: rgba(33, 150, 243, 0.1);
$da-info-hue-darker : #0D47A1FF;
$da-info-hue-2: rgb(187, 222, 251);
$da-warning-hue: #ff9021;
$da-warning-hue-transparent: rgba(255, 144, 33, 0.1);
$da-warning-hue-darker : rgb(204, 115, 26);
$da-warning-hue-2: rgb(255, 157, 59);
$da-confirm-hue: #1FA218FF;
$da-confirm-hue-transparent: rgba(31, 162, 24, 0.1);
$da-confirm-hue-darker : #0F660FFF;
$da-confirm-hue-2: rgb(186, 255, 182);
$order-creation-hue: #38BDF8FF;
$order-devis-hue: #6366F1FF;
$order-prototype-hue: #F59E0BFF;
$order-developement-hue: #10B981FF;
$order-test-hue: #F43F5EFF;
$order-delivery-hue: #8B5CF6FF;
$Color: #FFFFFF;
$_2k25-background-hue: #1a1a1a;
$_2k25-background-hue-transparent: rgba(26, 26, 26, 0.4);
$_2k25-background-hue-darker: #0f0f0f;
$_2k25-background-hue-darker-transparent: rgba(15, 15, 15, 0.8);
$_2k25-background-hue-darker-2: #000000;
$_2k25-background-hue-darker-2-transparent: rgba(0, 0, 0, 0.4);
$_2k25-background-hue-50: #333333;
$_2k25-background-hue-50-transparent: rgba(51, 51, 51, 0.3);
$_2k25-background-hue-40: #262626;
$_2k25-background-hue-10: #f0f0f0;
$_2k25-background-hue-10-transparent: rgba(240, 240, 240, 0.02);
$_2k25-text: #ffffff;
$_2k25-darker: #cccccc;


$nass__header-width: 300px;