@import "../../../variables.scss";

.nass__connect__service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  justify-content: center;
  margin-left: 0;

  .user__profile__picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  &.user-not-connected {
    justify-content: center;
    margin-left: 0;
    width: 60%;
    margin: auto;
    height: 100vh;
  }

  &.user-connected-already-registered {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    .registration__done__content {
      max-width: calc(40% - 40px - 4px);
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .disclaimer__content {
      padding: 20px;
      background-color: $_2k25-background-hue-darker;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: calc(100% - 40px - 4px);
      .disclaimer__content__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        justify-content: space-between;
      }
    }
  }

  .nass__service__connection__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
  }
  .service__informations {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .service__connection__information {
    height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    gap: 10px;
    position: relative;
    .service__connection__info {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      .user__info {
        width: calc(90% - 40px);
        border: 2px solid $_2k25-background-hue-50-transparent;
      }
    }
  }

  .service__connection__details {
    padding: 20px;
    background-color: $_2k25-background-hue-darker;
    border-radius: 10px;
    border: 2px solid $_2k25-background-hue-darker;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .connection__details__user {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3,
      p {
        margin: 0;
        padding: 0;
      }

      .details__global {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
      }

      .profile__container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0px;
        .user__name {
          font-size: 1.5rem;
          font-weight: 600;
        }
        .user__email {
          font-size: 1rem;
          opacity: 0.7;
          font-weight: 500;
        }
      }
    }

    .service__connection__detail__body {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .subtitle-informations {
        font-size: 14px;
        font-weight: 500;
        opacity: 0.7;

      }

      .service__connection__details__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;

        &.requirements {
          .switch__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
          }
        }

        .data__item {
          h4,
          p {
            margin: 0;
            padding: 0;
          }
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;
          padding: 10px 15px;
          width: fit-content;
          background-color: $_2k25-background-hue-darker-2;
          border-radius: 10px;
          .data__item__header {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          svg {
            width: 25px;
            height: 25px;
            fill: $da-secondary-hue-lighter-2;
          }
          .data__item__content {
            display: flex;
            flex-direction: column;
            h4 {
              font-size: 15px;
              font-weight: 600;
              color: $da-secondary-hue-lighter-2;
            }
            p {
              font-size: 13px;
              opacity: 0.7;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .user__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: $_2k25-background-hue-darker;
    border-radius: 10px;
    width: calc(100% - 40px);
    h3,
    p {
      margin: 0;
      padding: 0;
    }
    .user__info__header {
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: $da-secondary-hue-lighter-2;
      }
      p {
        font-size: 1rem;
        opacity: 0.7;
        font-weight: 500;
      }
    }
    .user__info__content {
      display: flex;
      flex-direction: col;
      align-items: center;
      gap: 10px;
      img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $_2k25-background-hue-50-transparent;
        margin-right: 20px;
      }
      .user__informations {
        .name {
          font-size: 1.5rem;
          font-weight: 600;
        }
        .username,
        .email {
          font-size: 1rem;
          opacity: 0.7;
          font-weight: 500;
        }
      }
    }
  }
  .user__headband {
    width: 100%;
    .user__info {
      width: calc(100% - 40px) !important;
    }
  }
}

@media screen and (max-width: 1400px) {
  .nass__connect__service {
    width: 90%;
  }
}
