@import "@/public/root/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');




.two-fa__module__layout {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: $_2k25-background-hue-darker;
  margin: auto;
  border-radius: 20px;
  width: 50%;
  min-width: 300px;

  .right__section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: start;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 20px;
    border-bottom: 1px solid $_2k25-background-hue-50-transparent;
  }
  .left__section {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    min-height: 20vh;
  }

  .two-fa__module__info {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 50%;
    align-items: center;
    gap: 10px;
    h3,
    p {
      margin: 0;
      padding: 0;
    }
    color: $da-warning-hue;
  }
  .two-fa__module__error {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3,
    p {
      margin: 0;
      padding: 0;
    }
    border: 1px solid $da-error-hue;
    background-color: $da-error-hue-transparent;
    color: $da-error-hue;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .naflows-logo {
      height: 50px;
      width: max-content;
    }
    .header__informations {
      display: flex;
      flex-direction: column;
      gap: 2px;
      h2,
      p {
        margin: 0;
        padding: 0;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: $da-secondary-hue-lighter-2;
      }
      p {
        font-size: 1rem;
        opacity: 0.8;
      }
    }
  }
}

.connection__header {
  display: flex;
  align-items: center;
  width: fit-content;
  flex-direction: row;
  justify-content: start;
  padding: 5px 15px 5px 5px;
  border: 1px solid $_2k25-background-hue-50-transparent;
  border-radius: 10px;
  width: fit-content;

  gap: 15px;

  .default__avatar__placeholder {
    color : $da-secondary-hue-lighter-2;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $_2k25-background-hue-50-transparent;
    border: 1px solid $_2k25-background-hue-50-transparent;
    border-radius: 50%;
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .profile__informations {
    display: flex;
    flex-direction: column;
    #user-full-name {
      font-weight: 600;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #user-email {
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }
}

.two-fa__module__page {
  flex: 1;
  align-self: stretch;
}

.service-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: $_2k25-background-hue-50-transparent;
  position: relative;
  width: 250px;
  overflow: hidden;

  .service-banner {
    height: 50px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .service-info {
    margin-top: 80px;
    margin-left: 5px;
    h4,
    p {
      margin: 0;
      padding: 0;
    }
    p {
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }

  .service-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    border: 2px solid $_2k25-background-hue;
    top: 25px;
    left: 10px;
  }

  .service-card__informations {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h4,
    p {
      margin: 0;
      padding: 0;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }
}

.page__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  align-items: center;
  height: 100%;
  .actions {
    flex: 1;
    align-self: stretch !important;
  }
  #confirm-identity-button {
    flex: 1 !important;
    max-width: unset !important;
    max-height: unset !important;
    height: unset !important;
    min-height: unset !important;
    align-self: stretch !important;
    font-size: 20px;
    flex-direction: column;
    svg {
      width: 25px !important;
      height: 25px !important;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  align-items: start;
  justify-content: center;
}

.actions__information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 50%;
  padding-right: 20px;
  border-right: 1px solid $_2k25-background-hue-50-transparent;
  align-self: stretch;

  h3,
  p {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: $da-secondary-hue-lighter-2;
  }

  p {
    opacity: 0.8;
    font-size: 12px;
  }
}

.code-sent__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: auto;
  justify-content: center;

  .code-sent__message {
    p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      opacity: 0.9;
    }
  }

  .input {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    input {
      --root-width: 40px;
      min-width: var(--root-width) !important;
      max-width: var(--root-width) !important;
      width: var(--root-width) !important;
      height: var(--root-width) !important;
      min-height: var(--root-width) !important;
      max-height: var(--root-width) !important;
      font-size: 1.5rem;
      font-weight: 600;
      align-self: stretch !important;
      flex: 1;
      padding: 0 !important;
      text-align: center;
      border-radius: 5px;
      background-color: $_2k25-background-hue-darker;
    }
  }
}

.verification__success {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  h3 {
    margin: 0;
    padding: 0;
    color: $da-confirm-hue;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    opacity: 0.9;
    text-align: center;
  }
}
