@import "@/public/root/variables.scss";

.account__services__manage__settings__legal__upload__page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: stretch;
  flex: 1;
  background-color: $_2k25-background-hue-darker;
  padding: 20px 25px;
  border-radius: 10px;
  .upload__page__header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    .page__header__content {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5px;
      h2 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: $da-secondary-hue-lighter;
      }
      p {
        margin: 0;
        font-size: 1rem;
        opacity: 0.8;
      }
    }
  }
}

.upload__page__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px !important;
  .account__services__manage__settings__page {
    flex: 1;
    min-height: 100%;
  }
  p:not(.markdown__content p) {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
  }
  .upload__page__markdown__editor {
    flex: 1;
  }
}

.info__banner {
  background-color: $da-warning-hue-transparent;
  border: 1px solid $da-warning-hue;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 0.9rem;

  color: $da-warning-hue-darker;
}


.account__services__manage__settings__page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  max-height: 50vh;

  .support-contact__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    .inputs__content {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: stretch;
      width: 100%;
      align-items: center;
    }
  }

  .textarea__content,
  .markdown__area {
    flex: 1;
  }
  .upload__page__markdown__editor {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    height: 400px;
  }
  .markdown__area {
    padding: 20px;
    border-radius: 10px;
    background-color: $_2k25-background-hue-darker;
    border: 1px solid $_2k25-background-hue-50-transparent;
    max-height: 100%;
    overflow: hidden;
    .markdown__content {
      max-height:inherit;
      overflow-y: auto;
      padding-right: 10px;
    }
  }
  .textarea__content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 10px;

    p {
      margin: 0;
      font-size: 0.9rem;
      opacity: 0.8;
    }
    #textarea {
      align-self: stretch;
      flex: 1;
    }

    textarea {
      height: 100%;
      width: 100%;
      max-width: calc(100% - 30px - 2px);
      max-height: calc(100% - 30px - 2px);
      border: none;
      border-radius: 10px;
      padding: 15px;
      font-size: 1rem;
      font-family: "Inter", sans-serif;
      resize: none;
      outline: none !important;
      &:focus {
        outline: none;
      }
    }
  }
}

.policy__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
  .policy__header {
    h2 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
    }
    border: 1px solid $_2k25-background-hue-50-transparent;
    padding-bottom: 10px;
    border-style: none none solid none;
  }

  .reading__progress__bar {
    height: 2.5px;
    background-color: $_2k25-background-hue-50-transparent;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  .reading__progress__fill {
    height: 100%;
    background-color: $da-secondary-hue;
    transition: width 0.3s ease;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .policy__service {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    img {
      width: 50px;
      border-radius: 50%;
      height: 50px;
    }
    .service__header {
      display: flex;
      flex-direction: column;
      gap: 5px;
      #service-name {
        font-size: 16px;
        font-weight: 500;
      }
      #legal-document-preview {
        font-size: 12px;
        opacity: 0.8;
      }
    }
  }
}
