@import "../../../../variables.scss";

.data-monitoring-page {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: fit-content;

  #data-collection-section {
    max-width: 30%;
  }

  #no-data-collection {
    opacity: 0.7;
    width: 100%;
    font-size: 13px;
  }

  .data-collection-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.data-policy-item {
  // Width should make so each row has 3 items with a gap of 10px between them
  width: calc(32% - 40px);
  padding: 20px;
  border: 1px solid $_2k25-background-hue-50-transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
  &:not(.no-hover) {
    cursor: pointer;
  }
  &:not(.no-hover):hover {
    background-color: $da-secondary-hue-transparent;
    border-color: $da-secondary-hue-lighter;
  }
  &.selected {
    border-color: $da-secondary-hue-transparent;
    background-color: $da-secondary-hue-transparent;
  }
  .data-policy-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      margin: 0;
      font-size: 13px;
      opacity: 0.8;
    }
    .data-policy-includes,
    .data-policy-does-not-includes {
      display: flex;
      flex-direction: column;
      p {
        font-size: 14px;
        opacity: 0.7;
      }
      .includes-list,
      .does-not-includes-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 5px;
        span {
          font-size: 12px;
          background-color: $_2k25-background-hue-50-transparent;
          padding: 3px 6px;
          border-radius: 5px;
        }
      }
    }
  }
  .data-policy-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    h5 {
      margin: 0;
      font-size: 16px;
    }
    .data-policy-icon {
      width: 20px;
      height: 20px;
      padding: 5px;
      border-radius: 5px;
      background-color: $da-secondary-hue-lighter-2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $_2k25-background-hue-darker;
    }
  }
}


#data-set-component {
  h4 {
    margin: 0;
    font-size: 16px;
    color: $da-secondary-hue-lighter-2;
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  .data-policies-list-summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    .data-policy-item-summary {
      display: flex;
      flex-direction: row;
      width: fit-content;
      position:relative;

      &:hover {
        .data-policy-item-content {
          display: block;
        }
      }
      .data-policy-item-content {
        margin-left: 10px;
        position:absolute;
        left: 30px;
        top: 50%;
        display: none;
        transform: translateY(-50%);
        background-color: $_2k25-background-hue-darker;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
        border: 1px solid $da-secondary-hue-lighter-2;
        width: 40vh;
        h5 {
          margin: 0;
          font-size: 14px;
          color: $da-secondary-hue-lighter-2;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .policy-category {
          margin: 0;
          font-size: 12px;
          opacity: 0.7;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .policy-description {
          margin: 5px 0 0 0;
          font-size: 12px;
          opacity: 0.8;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        padding: 5px;
        border-radius: 5px;
        background-color: $da-secondary-hue-lighter-2;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $_2k25-background-hue-darker;
        cursor: pointer;

      }
    }
  }
}
