@import "../../../../variables.scss";
:root {
  --size: 30px;
}
#data-monitoring-setup-page {
  .data-monitoring-setup-step {
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid $_2k25-background-hue-50-transparent;
    &:not(.active) {
      opacity: 0.7;
      pointer-events: none;
      .step__content {
        display: none;
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: 10px;
      button {
        align-self: stretch !important;
      }
    }
  }
  .step__header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: start;
    .step__number {
      font-weight: bold;
      background-color: $da-secondary-hue-lighter-2;
      color: $_2k25-background-hue-darker;
      min-width: var(--size);
      min-height: var(--size);
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
    }

    .step__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 0px;
      h3 {
        margin: 0;
        font-size: 18px;
        color: $da-secondary-hue-lighter-2;
      }
      p {
        margin: 0;
        opacity: 0.7;
        font-size: 13px;
      }
    }
  }

  .data-policy-category {
    .data-policy-category-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      justify-content: space-between;
      h4 {
        margin: 0;
        font-size: 16px;
        color: $da-secondary-hue-lighter-2;
      }
      padding-bottom: 5px;
      border-bottom: 1px solid $_2k25-background-hue-50-transparent;
    }
  }
}
.data-policies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.data-policy-item {
  // Width should make so each row has 3 items with a gap of 10px between them
  width: calc(32% - 40px);
  padding: 20px;
  border: 1px solid $_2k25-background-hue-50-transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
  &:not(.no-hover) {
    cursor: pointer;
  }
  &:not(.no-hover):hover {
    background-color: $da-secondary-hue-transparent;
    border-color: $da-secondary-hue-lighter;
  }
  &.selected {
    border-color: $da-secondary-hue-transparent;
    background-color: $da-secondary-hue-transparent;
  }
  .data-policy-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      margin: 0;
      font-size: 13px;
      opacity: 0.8;
    }
    .data-policy-includes, .data-policy-does-not-includes {
      display: flex;
      flex-direction: column;
      p {
        font-size: 14px;
        opacity: 0.7;
      }
      .includes-list, .does-not-includes-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 5px;
        span {
          font-size: 12px;
          background-color: $_2k25-background-hue-50-transparent;
          padding: 3px 6px;
          border-radius: 5px;
        }
      }
    }
  }
  .data-policy-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    h5 {
      margin: 0;
      font-size: 16px;
    }
    .data-policy-icon {
      width: 20px;
      height: 20px;
      padding: 5px;
      border-radius: 5px;
      background-color: $da-secondary-hue-lighter-2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $_2k25-background-hue-darker;
    }
  }
}

.selected-policy-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  margin-top: 20px;
  .data-policy-item {
    width: max-content;
  }
  p {
    width: 100%;
    font-size: 14px;
    opacity: 0.8;
  }
}
