@import "../../../variables.scss";

#left-side {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 5px;
  .user__body__section:not(.service__description__section) {
    width: calc(100% - 60px - 4px) !important;
    border: 2px solid $_2k25-background-hue-50-transparent;
  }
}

.traffic-overview {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid $_2k25-background-hue-50-transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background-color: $_2k25-background-hue-darker;
  .network__traffic__placeholder {
    width: calc(100% - 20px);
    background-color: rgba(255, 255, 255, 0.05);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    align-items: center;
    justify-content: center;

    .network__information__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    .network__information {
      padding: 5px 10px;
      text-align: center;
      border: 1px solid;
      font-size: 13px;
      width: calc(100% - 22px);
      border-radius: 5px;
      p {
        margin: 0;
      }
      &.normal {
        border-color: $da-confirm-hue;
        background-color: $da-confirm-hue-transparent;
        color: $da-confirm-hue;
      }
      &.warning {
        border-color: $da-warning-hue;
        background-color: $da-warning-hue-transparent;
        color: $da-warning-hue;
      }
      &.shutdown {
        border-color: $da-error-hue;
        background-color: $da-error-hue-transparent;
        color: $da-error-hue;
      }
    }
    .footer__informations {
      font-size: 10px;
      opacity: 0.7;
      text-align: center;
    }
  }
}

.service__quick__actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  .quick__actions {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    .service__status {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      .service__status__header {
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 100%;

        .service__activity__text {
          border: 2px solid;
          padding: 5px 15px;
          border-radius: 10px;
          align-self: stretch;
          width: fit-content;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: bold;
          display: flex;
          &.ACTIVE {
            border: 1px solid $da-secondary-hue;
            background-color: $da-secondary-hue-transparent;
            color: $da-secondary-hue-lighter-2;

            // Animation that makes a pulsing effect
            animation: pulse 2s infinite;
            @keyframes pulse {
              0% {
                box-shadow: 0 0 0 0 rgba($da-secondary-hue, 0.7);
              }
              70% {
                box-shadow: 0 0 0 10px rgba($da-secondary-hue, 0);
              }
              100% {
                box-shadow: 0 0 0 0 rgba($da-secondary-hue, 0);
              }
            }
          }
          &.INACTIVE {
            border: 1px solid $da-error-hue;
            background-color: $da-error-hue-transparent;
            color: $da-error-hue;
          }
        }
      }

      .service__activity__subtext {
        font-size: 13px;
        opacity: 0.8;
      }
    }
  }
}

.service__activity__display {
  display: flex;
  flex-direction: column !important;
  p {
    margin: 0;
    padding: 0;
  }
}

@keyframes LogsAppears {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale3d(0.95, 0.95, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale3d(1, 1, 1);
  }
}

.filter__box {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: $_2k25-background-hue-darker;
  border: 2px solid $_2k25-background-hue-50-transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h4 {
    margin: 0;
    padding: 0;
  }

  .user-suggestions {
    position: absolute;
    background-color: $_2k25-background-hue-darker;
    border: 2px solid $_2k25-background-hue-50-transparent;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 10;
    margin-top: 55px;
    .user-suggestion-item {
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: 0.3s;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      &:hover {
        background-color: $_2k25-background-hue-50-transparent;
      }
    }
  }

  .filters__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    .filter--row {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    .filter {
      display: flex;
      flex-direction: column;
      gap: 1px;
      position: relative;
      label {
        font-size: 13px;
        opacity: 0.8;
      }
      input,
      select {
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid $_2k25-background-hue-50-transparent;
        background-color: $_2k25-background-hue-darker-2;
        color: $_2k25-text;
        font-size: 14px;
        &:focus {
          outline: none;
          border-color: $da-secondary-hue-lighter-2;
        }
      }

      // Style select
      select {
        min-width: 150px;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='16'%20height='16'%20fill='%23ffffff'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M7%2010l5%205%205-5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 12px;
        padding-right: 30px;
        option {
          background-color: $_2k25-background-hue-darker-2;
          color: $_2k25-text;
        }
      }
    }
  }
}

.logs__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid $_2k25-background-hue-50-transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background-color: $_2k25-background-hue-darker-2;
  .logs__directory {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .total__logs__count {
      font-size: 13px;
      opacity: 0.8;
    }
    .tabs__directory {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      .tab__directory__item {
        padding: 5px 10px;
        border-radius: 10px;

        background-color: $_2k25-background-hue-darker;
        border: 2px solid $_2k25-background-hue-50-transparent;
        cursor: pointer;
        transition: 0.3s;
        font-size: 13px;
        &.active {
          border-color: $da-secondary-hue-lighter-2;
          background-color: $da-secondary-hue-transparent;
          color: $da-secondary-hue-lighter-2;
        }
        &:hover {
          background-color: $_2k25-background-hue-50-transparent;
        }
      }
    }
  }

  .logs__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .log__hover__content {
      position: absolute;
    }
    .log__user__more {
      width: fit-content;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: $_2k25-background-hue-darker;
      border: 2px solid $_2k25-background-hue-darker-2;
      position: relative;
      max-width: 300px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      gap: 10px;
      .log__user__more__header {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        .log__user__placeholder {
          display: flex;
          flex-direction: column;
          .log__user__name {
            font-weight: bold;
            color: $da-secondary-hue-lighter-2;
          }
          .log__user__username {
            font-size: 13px;
            opacity: 0.8;
          }
        }
      }
      .log__rights__content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 5px;
        .log__rights__title {
          font-size: 10px;
          opacity: 0.8;
          width: 100%;
          text-transform: uppercase;
          border-bottom: 1px solid $_2k25-background-hue-50-transparent;
          padding-bottom: 3px;
        }
        .rights__container__list {
          display: flex;
          flex-direction: row;
          column-gap: 5px;
          row-gap: 5px;
          flex-wrap: wrap;
          overflow-y: auto;
        }
        .log__right {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          padding: 2px 10px 2px 5px;
          background-color: $_2k25-background-hue-50-transparent;
          border-radius: 50px;
          border: 1px solid $_2k25-background-hue-50-transparent;

          .log__right__color {
            min-width: 15px;
            max-width: 15px;
            min-height: 15px;
            max-height: 15px;
            border-radius: 50%;
          }
          .log__right__name {
            font-size: 14px;
            opacity: 0.8;
          }
        }
      }
    }
  }
  .logs__table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    gap: 10px;
    thead {
      tr {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      th {
        font-weight: 600;
        font-size: 14px;
        opacity: 0.8;
        text-align: left;
        padding: 10px 15px;
        &:not(.log__icon, .log__timestamp) {
          width: 100%;
        }
        &.log__icon {
          width: fit-content;
          height: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .log__timestamp {
      white-space: nowrap;
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 3px;
      span:nth-child(2) {
        font-size: 12px;
        opacity: 0.8;
      }
    }
    tbody {
      display: flex;
      flex-direction: column;
      gap: 2px;
      tr {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      td:not(.log__icon, .log__timestamp) {
        width: 100%;
      }
      .log__icon {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    border-radius: 0 10px 10px 0;
  }
  .log__entry:nth-child(even) {
    background-color: $_2k25-background-hue-darker;
  }
  .log__entry:nth-child(odd) {
    border-color: $_2k25-background-hue-50-transparent;
  }
  .log__entry {
    display: flex;
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
    border: 2px solid transparent;
    gap: 20px;
    transition: 0.3s;
    opacity: 0;
    animation: LogsAppears 0.3s ease forwards;
    z-index: 1;
    border-radius: 10px;
    &.status--info {
      &:hover {
        background-color: $da-confirm-hue-transparent;
      }
      .log__icon {
        background-color: $da-confirm-hue-transparent;
        border-color: $da-confirm-hue;
        color: $da-confirm-hue;
      }
    }
    &.status--warning {
      &:hover {
        background-color: $da-warning-hue-transparent;
      }
      .log__icon {
        background-color: $da-warning-hue-transparent;
        border-color: $da-warning-hue;
        color: $da-warning-hue;
      }
    }
    &.status--error {
      &:hover {
        background-color: $da-error-hue-transparent;
      }
      .log__icon {
        background-color: $da-error-hue-transparent;
        border-color: $da-error-hue;
        color: $da-error-hue;
      }
    }
    .log__icon {
      min-height: 30px;
      border-radius: 10px;
      display: flex;
      padding: 5px 10px;
      align-items: center;
      justify-content: start !important;
      flex-direction: row;
      gap: 10px;
      border: 1px solid transparent;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      z-index: 10;
    }

    .log__timestamp {
      opacity: 0.8;
      white-space: nowrap;
    }
    .log__message {
      display: flex;
      flex-direction: column;
      gap: 5px;

      span:nth-child(2) {
        font-size: 12px;
        opacity: 0.7;
        word-break: break-all;
      }
    }
    .log__user {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 34px;
      max-width: 34px;
      min-height: 34px;
      max-height: 34px;

      gap: 10px;
      position: relative;

      &.known {
        cursor: pointer;
        transition: 0.3s;
        border-radius: 50%;
        &:hover {
          background-color: $_2k25-background-hue-50-transparent;
        }
      }
      &:hover > .log__user__more {
        display: block;
      }
      img {
        min-width: 34px;
        max-width: 34px;
        min-height: 34px;
        max-height: 34px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }
}

@keyframes KeysContainerAppear {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
.service__overview__tabs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 10px;
  background-color: $_2k25-background-hue-darker;
}

.global__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

#right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  .right__side__header {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    min-width: 100%;
    gap: 10px;
    .service__quick__actions {
      align-self: stretch;
      align-items: center !important;
      .quick__actions {
        height: 100%;
        flex-wrap: nowrap;
      }
    }
    .user__body__section {
      border: 2px solid $_2k25-background-hue-50-transparent;
    }
    .service__plans {
      width: 100%;
      align-self: stretch;
    }
  }
}

.service__overview__tab__content {
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: $_2k25-background-hue-darker-2;
  .service__overview__tab__header {
    h2,
    p {
      margin: 0;
      padding: 0;
    }
    h2 {
      font-weight: bold;
      color: $da-secondary-hue-lighter-2;
    }
    p {
      font-size: 14px;
      opacity: 0.8;
    }
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #security-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .key__container {
      animation: KeysContainerAppear 0.3s ease forwards;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: $_2k25-background-hue-darker;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      .inputs-container {
        max-width: 100%;
      }
      .key__container__header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h3 {
          margin: 0;
          padding: 0;
          font-weight: bold;
          color: $da-secondary-hue-lighter-2;
          font-size: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          svg {
            height: 20px;
            width: 20px;
            fill: $da-secondary-hue-lighter-2;
          }
        }
        p {
          margin: 0;
          padding: 0;
          font-size: 13px;
          opacity: 0.8;
        }
      }
    }
  }
  .keys__container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.global__loader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 60%;
  min-width: 50%;
  margin: auto;
}

.service__management__header {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 25px;
  border-radius: 10px;
  background-color: $_2k25-background-hue-darker;
  .icon {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: $_2k25-background-hue-50-transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    svg {
      width: 30px;
      height: 30px;
      fill: $da-secondary-hue-lighter-2;
    }
  }

  .management__header__body {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  .service__management__dir {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    user-select: none;
    opacity: 0.8;

    .service__management__dir__link {
      cursor: pointer;
    }

    svg {
      height: 16px;
      width: 16px;
    }

    a {
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .service__management__header__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    h2,
    p {
      margin: 0;
      padding: 0;
    }

    h2 {
      font-weight: bold;
      color: $da-secondary-hue-lighter-2;
    }
    p {
      font-size: 14px;
      opacity: 0.8;
    }
  }
}

.user__body__manage-service {
  .manage__service__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    justify-content: start;
    min-height: 100vh;
  }

  .nass__service__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    max-height: fit-content;
    margin-bottom: 20px;
  }

  .service__description__section {
    flex: 1;
    height: 100%;
    align-self: stretch;
    justify-content: space-between;
  }

  .service__storage__section {
    max-width: 350px;
  }

  .service__plans {
    align-items: stretch;
    width: calc(100% - 60px - 2px) !important;
    transition: 0.3s;
  }

  .plans__table {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;

    .table__content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: white;
      width: fit-content;
      width: 100px;

      .table__header {
        opacity: 0.8;
      }

      .table__value {
        font-weight: normal;
      }
    }
  }

  .user__body__section {
    margin: unset !important;
  }

  .service__plan {
    flex: 1;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    .service__plan__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      .plan__tags {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        .plan__tag {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 7px;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: $_2k25-background-hue-50-transparent;
          font-size: 13px;

          svg {
            height: 16px;
            width: 16px;
            fill: $da-secondary-hue-lighter-2;
          }
        }
      }
      .rps__limitation {
        font-size: 13px;
        opacity: 0.8;
        a {
          color: $da-secondary-hue-lighter-2;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .service__storage {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;

        .service__storage__usage__text {
          position: absolute;
          right: 5px;
          padding: 3px 7px;
          font-size: 12px;
          top: 0;
          bottom: 0;
          margin: auto;
          height: fit-content;
          background-color: $_2k25-background-hue-darker;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .service__storage__usage {
          width: 100%;
          height: 30px;
          border-radius: 50px;
          background-color: $_2k25-background-hue-transparent;
          overflow: hidden;

          .storage__usage__bar {
            height: 100%;
            border-radius: 50px;
            background-color: $_2k25-text;
          }
        }
      }
    }

    .services__section__content {
      color: white;
    }
  }
}

.security__measures {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .services__section__content {
    display: flex;
    min-height: auto !important;
    flex: unset !important;
    flex-direction: column;

    .service__status {
      min-height: fit-content;

      .service__status__title {
        font-weight: bold;
      }

      .service__status {
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        height: fit-content;
        width: fit-content;

        &.status-failure {
          background-color: $da-error-hue;
        }

        &.status-success {
          background-color: $da-confirm-hue;
        }
      }
    }

    .service__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      height: max-content;
      align-items: start;
    }
  }
}

@keyframes NewServicesButtonAppears {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.service__actions__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  gap: 20px;
  background-color: $_2k25-background-hue-darker;
  padding: 20px 30px;
  &.no-padding {
    padding: 0;
  }
  height: fit-content !important;
  .primary-button {
    animation: NewServicesButtonAppears 0.3s ease forwards;
  }
  .service__actions__buttons {
    display: flex;
    flex-direction: row;
    gap: 5px !important;
    flex-wrap: wrap;
    width: 100%;
    button {
      min-width: calc(100% - 40px) !important;
      justify-content: space-between;
      white-space: nowrap;
      gap: 10px;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $_2k25-background-hue-50-transparent;
      * {
        transition: 0.3s;
      }
      &:hover {
        background-color: $da-secondary-hue-transparent;
        color: $da-secondary-hue-lighter-2;
        svg {
          transform: translateX(5px);
        }
      }
    }
  }

  .service__actions__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      width: 100%;
    }
  }
}

.service__actions__field__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  user-select: none;

  .service__actions__field__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    margin: 0;
    padding: 0;
    color: $da-secondary-hue-lighter-2;
    svg {
      height: 24px;
      width: 24px;
      fill: $da-secondary-hue-lighter-2;
    }
    img {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    opacity: 0.8;
  }
}
